<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>推点商务平台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/lib/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/lib/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../static/css/iconfont-none.css"  media="all">
    <link rel="stylesheet" type="text/css" href="../../static/css/iconfont.css" media="all">
    <!-- <link rel="stylesheet" type="text/css" href="__STATIC_CSS__iconfont2.css"/> -->
    <link rel="stylesheet" href="../../static/lib/layuiadmin/layui/css/layui.seller.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css"/>

</head>
<body class="layui-layout-body">

<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="/" target="_blank" title="前台">
                        <i class="layui-icon layui-icon-website"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" layadmin-event="refresh" title="刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="theme">
                        <i class="layui-icon layui-icon-theme"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="note">
                        <i class="layui-icon layui-icon-note"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="fullscreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>
                <li class="layui-nav-item manage" lay-unselect>
                    <a href="javascript:;">
                        <cite>admin</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a lay-href="{:url('Administrator/information')}">个人中心</a></dd>
                        <dd><a lay-href="{:url('index/clearCache')}">清除缓存</a></dd>
                        <hr>
                        <dd><a data-href="{:url('Common/logout')}"  layadmin-event="logout">退出</a></dd>
                    </dl>
                </li>
            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="{:url('Index/welcome')}">
                    <span>推点商务平台</span>
                </div>
                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
                    <li data-name="home" class="layui-nav-item layui-nav-itemed">
                        <a class="" lay-href="/manage/index/welcome.html" href="javascript:;" lay-tips="首页" lay-direction="2" ><i class="iconfont">&#xe651;</i>首页</a>
                    </li>
                    <li data-name="user" class="layui-nav-item">
                        <a class="menu-icon-user" href="javascript:;" lay-tips="会员管理"  lay-direction="2">
                            <i class="iconfont icon-none icon-user"></i>会员管理            </a>

                        <dl class="layui-nav-child">
                            <dd data-name="user">
                                <a href="javascript:;" lay-href="/manage/user/index.html" style="padding-left: 44px;">用户列表</a>
                            </dd>
                            <dd data-name="user">
                                <a href="javascript:;" href="javascript:;" style="padding-left: 44px;">演示插件</a>
                                <dl class="layui-nav-child">
                                    <dd data-name="" class="">
                                        <a lay-href="/plugins/demo-index-index.html">演示列2</a>
                                    </dd>
                                    <dd data-name="" class="">
                                        <a lay-href="/plugins/demo-index-index.html">演示列表2</a>
                                    </dd>
                                </dl>
                            </dd>
                            <dd data-name="user">
                                <a href="javascript:;" lay-href="/manage/user/grade.html" style="padding-left: 44px;">用户等级</a>
                            </dd>
                            <dd data-name="user">
                                <a href="javascript:;" lay-href="/manage/administrator/index.html" style="padding-left: 44px;">管理员管理</a>
                            </dd>
                            <dd data-name="user">
                                <a href="javascript:;" lay-href="/manage/role/index.html" style="padding-left: 44px;">角色管理</a>
                            </dd>
                            <dd data-name="user">
                                <a href="javascript:;" lay-href="/manage/sms/index.html" style="padding-left: 44px;">短信管理</a>
                            </dd>
                        </dl>

                    </li>

                    <li data-name="goods" class="layui-nav-item">
                        <a class="menu-icon-goods" href="javascript:;" lay-tips="商品管理"  lay-direction="2">
                            <i class="iconfont icon-none icon-goods"></i>商品管理            </a>

                        <dl class="layui-nav-child">
                            <dd data-name="goods">
                                <a href="javascript:;" lay-href="/manage/goods/index.html" style="padding-left: 44px;">商品列表</a>
                            </dd>
                            <dd data-name="goods">
                                <a href="javascript:;" lay-href="/manage/categories/index.html" style="padding-left: 44px;">商品分类</a>
                            </dd>
                            <dd data-name="goods">
                                <a href="javascript:;" lay-href="/manage/brand/index.html" style="padding-left: 44px;">品牌列表</a>
                            </dd>
                            <dd data-name="goods">
                                <a href="javascript:;" lay-href="/manage/goods_type/index.html" style="padding-left: 44px;">商品类型</a>
                            </dd>
                            <dd data-name="goods">
                                <a href="javascript:;" lay-href="/manage/goods_type_spec/index.html" style="padding-left: 44px;">商品属性</a>
                            </dd>
                            <dd data-name="goods">
                                <a href="javascript:;" lay-href="/manage/goods_params/index.html" style="padding-left: 44px;">参数列表</a>
                            </dd>
                            <dd data-name="goods">
                                <a href="javascript:;" lay-href="/manage/user/comment.html" style="padding-left: 44px;">商品评价</a>
                            </dd>
                        </dl>

                    </li>
                    <li data-name="order" class="layui-nav-item">
                        <a class="menu-icon-order" href="javascript:;" lay-tips="订单管理"  lay-direction="2">
                            <i class="iconfont icon-none icon-order"></i>订单管理            </a>

                        <dl class="layui-nav-child">
                            <dd data-name="order">
                                <a href="javascript:;" lay-href="../order/index.html" style="padding-left: 44px;">订单列表</a>
                            </dd>
                            <dd data-name="order">
                                <a href="javascript:;" lay-href="/manage/bill_lading/index.html" style="padding-left: 44px;">提货单列表</a>
                            </dd>
                            <dd data-name="order">
                                <a href="javascript:;" lay-href="/manage/bill_delivery/index.html" style="padding-left: 44px;">发货单列表</a>
                            </dd>
                            <dd data-name="order">
                                <a href="javascript:;" lay-href="/manage/bill_aftersales/index.html" style="padding-left: 44px;">售后单列表</a>
                            </dd>
                            <dd data-name="order">
                                <a href="javascript:;" lay-href="/manage/bill_reship/index.html" style="padding-left: 44px;">退货单列表</a>
                            </dd>
                        </dl>

                    </li>
                    <li data-name="notice" class="layui-nav-item">
                        <a class="menu-icon-notice" href="javascript:;" lay-tips="运营管理"  lay-direction="2">
                            <i class="iconfont icon-none icon-notice"></i>运营管理            </a>

                        <dl class="layui-nav-child">
                            <dd data-name="notice">
                                <a href="javascript:;" lay-href="/manage/notice/index.html" style="padding-left: 44px;">公告列表</a>
                            </dd>
                            <dd data-name="notice">
                                <a href="javascript:;" lay-href="/manage/carousel/index.html" style="padding-left: 44px;">广告列表</a>
                            </dd>
                            <dd data-name="notice">
                                <a href="javascript:;" lay-href="/manage/article/index.html" style="padding-left: 44px;">文章列表</a>
                            </dd>
                            <dd data-name="notice">
                                <a href="javascript:;" lay-href="/manage/carousel_seat/index.html" style="padding-left: 44px;">广告位列表</a>
                            </dd>
                            <dd data-name="notice">
                                <a href="javascript:;" lay-href="/manage/article_type/index.html" style="padding-left: 44px;">文章分类</a>
                            </dd>
                        </dl>

                    </li>
                    <li data-name="promotion" class="layui-nav-item">
                        <a class="menu-icon-promotion" href="javascript:;" lay-tips="促销管理"  lay-direction="2">
                            <i class="iconfont icon-none icon-promotion"></i>促销管理            </a>

                        <dl class="layui-nav-child">
                            <dd data-name="promotion">
                                <a href="javascript:;" lay-href="/manage/promotion/group.html" style="padding-left: 44px;">团购秒杀列表</a>
                            </dd>
                            <dd data-name="promotion">
                                <a href="javascript:;" lay-href="/manage/promotion/coupon.html" style="padding-left: 44px;">优惠券列表</a>
                            </dd>
                            <dd data-name="promotion">
                                <a href="javascript:;" href="javascript:;" style="padding-left: 44px;">拼团管理</a>
                                <dl class="layui-nav-child">
                                    <dd data-name="record" class="">
                                        <a lay-href="/manage/pintuan/record.html">拼团记录</a>
                                    </dd>
                                    <dd data-name="index" class="">
                                        <a lay-href="/manage/pintuan/index.html">拼团列表</a>
                                    </dd>
                                </dl>
                            </dd>
                            <dd data-name="promotion">
                                <a href="javascript:;" lay-href="/manage/promotion/index.html" style="padding-left: 44px;">促销列表</a>
                            </dd>
                        </dl>

                    </li>
                    <li data-name="billpayments" class="layui-nav-item">
                        <a class="menu-icon-billpayments" href="javascript:;" lay-tips="财务管理"  lay-direction="2">
                            <i class="iconfont icon-none icon-billpayments"></i>财务管理            </a>

                        <dl class="layui-nav-child">
                            <dd data-name="billpayments">
                                <a href="javascript:;" lay-href="/manage/bill_payments/index.html" style="padding-left: 44px;">支付单列表</a>
                            </dd>
                            <dd data-name="billpayments">
                                <a href="javascript:;" lay-href="/manage/payments/index.html" style="padding-left: 44px;">支付方式列表</a>
                            </dd>
                            <dd data-name="billpayments">
                                <a href="javascript:;" lay-href="/manage/balance/tocash.html" style="padding-left: 44px;">提现列表</a>
                            </dd>
                            <dd data-name="billpayments">
                                <a href="javascript:;" lay-href="/manage/bill_refund/index.html" style="padding-left: 44px;">退款单列表</a>
                            </dd>
                            <dd data-name="billpayments">
                                <a href="javascript:;" lay-href="/manage/balance/index.html" style="padding-left: 44px;">账户资金管理</a>
                            </dd>
                        </dl>

                    </li>
                    <li data-name="pages" class="layui-nav-item">
                        <a class="menu-icon-pages" href="javascript:;" lay-tips="页面管理"  lay-direction="2">
                            <i class="iconfont icon-none icon-pages"></i>页面管理            </a>

                        <dl class="layui-nav-child">
                            <dd data-name="pages">
                                <a href="javascript:;" lay-href="/manage/pages/index.html" style="padding-left: 44px;">布局管理</a>
                            </dd>
                        </dl>

                    </li>
                    <li data-name="setting" class="layui-nav-item">
                        <a class="menu-icon-setting" href="javascript:;" lay-tips="控制面板"  lay-direction="2">
                            <i class="iconfont icon-none icon-setting"></i>控制面板            </a>

                        <dl class="layui-nav-child">
                            <dd data-name="setting">
                                <a href="javascript:;" lay-href="/manage/operation_log/index.html" style="padding-left: 44px;">操作日志</a>
                            </dd>
                            <dd data-name="setting">
                                <a href="javascript:;" lay-href="/manage/area/index.html" style="padding-left: 44px;">地区管理</a>
                            </dd>
                            <dd data-name="setting">
                                <a href="javascript:;" lay-href="/manage/ship/index.html" style="padding-left: 44px;">配送方式列表</a>
                            </dd>
                            <dd data-name="setting">
                                <a href="javascript:;" lay-href="/manage/ietask/index.html" style="padding-left: 44px;">导入导出</a>
                            </dd>
                            <dd data-name="setting">
                                <a href="javascript:;" lay-href="/manage/hooks/index.html" style="padding-left: 44px;">钩子列表</a>
                            </dd>
                            <dd data-name="setting">
                                <a href="javascript:;" lay-href="/manage/setting/index.html" style="padding-left: 44px;">平台设置</a>
                            </dd>
                            <dd data-name="setting">
                                <a href="javascript:;" lay-href="/manage/store/index.html" style="padding-left: 44px;">门店列表</a>
                            </dd>
                            <dd data-name="setting">
                                <a href="javascript:;" lay-href="/manage/message_center/index.html" style="padding-left: 44px;">消息配置</a>
                            </dd>
                            <dd data-name="setting">
                                <a href="javascript:;" lay-href="/manage/addons/index.html" style="padding-left: 44px;">插件列表</a>
                            </dd>
                            <dd data-name="setting">
                                <a href="javascript:;" lay-href="/manage/images/index.html" style="padding-left: 44px;">图片列表</a>
                            </dd>
                            <dd data-name="setting">
                                <a href="javascript:;" lay-href="/manage/logistics/index.html" style="padding-left: 44px;">物流公司列表</a>
                            </dd>
                            <dd data-name="setting">
                                <a href="javascript:;" lay-href="/manage/operation/index.html" style="padding-left: 44px;">节点管理</a>
                            </dd>
                        </dl>

                    </li>
                    <li data-name="report" class="layui-nav-item">
                        <a class="menu-icon-report" href="javascript:;" lay-tips="报表统计"  lay-direction="2">
                            <i class="iconfont icon-none icon-report"></i>报表统计            </a>

                        <dl class="layui-nav-child">
                            <dd data-name="report">
                                <a href="javascript:;" lay-href="/manage/report/goodscollection.html" style="padding-left: 44px;">用户收藏统计</a>
                            </dd>
                            <dd data-name="report">
                                <a href="javascript:;" lay-href="/manage/report/order.html" style="padding-left: 44px;">订单销量</a>
                            </dd>
                            <dd data-name="report">
                                <a href="javascript:;" lay-href="/manage/report/goods.html" style="padding-left: 44px;">商品销量</a>
                            </dd>
                            <dd data-name="report">
                                <a href="javascript:;" lay-href="/manage/report/payments.html" style="padding-left: 44px;">财务收款</a>
                            </dd>
                        </dl>

                    </li>
                </ul>
            </div>
        </div>

        <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="{:url('Index/welcome')}" lay-attr="{:url('Index/welcome')}" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>

        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe src="welcome.html" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            <p>吉海科技 © jihainet.com - 版权所有</p>
            <a href="https://bbs.jihainet.com/" target="_blank">问题请求|产品建议请上吉海论坛</a>
            <a href="https://www.kancloud.cn/jihainet/jshop_operate" target="_blank">《使用手册》</a>
        </div>
        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>

</div>

<script src="../../static/lib/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../static/lib/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use('index');
</script>
</body>
</html>


